@charset "UTF-8";
/* CSS Document */

.entry-content p {
	line-height: 24px;
	margin-bottom: 0;
}

/*.proper_contact_form_wrap {max-width: 350px;}*/
.proper_contact_form_wrap {max-width: 570px;}

.proper_contact_form_wrap .span3 {
	width: 270px;
	margin-left: 0;
} 

/*.proper_contact_form {padding: 12px; box-shadow: 0 1px 5px #aaa; border-radius: 6px; background: #f9f9f9;}*/
	
	.proper_contact_form .form_field_wrap {padding: 6px 0; margin: 0 0 2px;}
	
	#contact-form-54 label {display: block; font-weight: normal; margin: 0 0 4px; font-size: 14px; color: #333;}
	
	#contact-form-54 input[type=text], 
	#contact-form-54 input[type=email], 
	#contact-form-54 input[type=url], 
	#contact-form-54 textarea,
	#contact-form-54 select {width: 255px; display: block; font-size: 14px; font-family: inherit}
	
	#contact-form-54 input[type=text], 
	#contact-form-54 input[type=email], 
	#contact-form-54 input[type=url], 
	#contact-form-54 textarea {
		border: 1px #ccc solid;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px; 
		border-radius: 4px; 
		padding: 4px 6px;
		margin-bottom: 12px;
		background-color: #ececec;
  		-webkit-box-shadow: 0 3px 2px -2px #959595;
  		-moz-box-shadow: 0 3px 2px -2px #959595;
  		box-shadow: 0 3px 2px -2px #959595;
  		height: 23px;
	}

	.proper_contact_form_wrap .comment {
	margin-left: 30px;
	}
	
	#contact-form-54 textarea {
		height: 94px;
	}

	#contact-form-54 .cf2 {
		float: right;
		margin-top: -138px;
	}
	
	#contact-form-54 input[type=submit] {
		  padding: 2px 8px 3px 8px;
		  background-image: -webkit-linear-gradient(top, #45c1eb, #00aae3);
		  background-image: -o-linear-gradient(top, #45c1eb, #00aae3);
		  background-image: linear-gradient(to bottom, #45c1eb, #00aae3);
		  background-image: -moz-linear-gradient(top, #45c1eb, #00aae3); 
		  -webkit-box-shadow: inset 0 0 2px #fff;
		  -moz-box-shadow: inset 0 0 2px #fff;
		  box-shadow: inset 0 0 2px #fff;
		  -webkit-border-radius: 6px;
		  -moz-border-radius: 6px;
		  border-radius: 6px;
		  font-size: 15px;
		  font-family: Verdana, Geneva, sans-serif;
		  color: #fff;
		  float: right;
		  margin: 14px 4px 30px 0;
		  border-color: #45c1eb;
	}
	
	

.proper_error_box {padding: 12px; background: #ffbbba; margin: 0 0 20px; border-radius: 2px;}
	
	.proper_error_box h6 {font-size: 14px; font-weight: bold; margin: 0 0 6px;}
	
	#contact-form-54 .error input[type=text], 
	#contact-form-54 .error input[type=email], 
	#contact-form-54 .error input[type=url], 
	#contact-form-54 .error textarea {border-color: red}
